In [2]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
dfTrain = pd.read_csv('datasets/train.csv', delimiter=',')
X = dfTrain.iloc[:,2:]
y = dfTrain.iloc[:,1]

In [1]:
X.head()

NameError: name 'X' is not defined

In [4]:
y.head()

0    738.023171
1    400.646015
2    189.900156
3    -78.399449
4   -547.373531
Name: y, dtype: float64

In [5]:
XTrain, XTest, yTrain, yTest = train_test_split(X, y, train_size=0.8)
XTrain.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
9752,-349.732093,925.671295,-628.417129,-1841.164957,227.784404,-404.656702,-288.816991,773.672369,787.648004,913.016632
734,582.334958,844.498557,-384.941375,-1355.082944,630.687517,317.111212,9.540022,856.830298,1801.985774,-995.239426
6441,-236.794850,400.231563,1734.578062,-1675.305086,961.633586,-597.423803,1106.423281,1833.997785,-287.345326,-271.779699
2626,-20.547249,-1226.933036,88.311612,-1089.371768,-637.681962,556.130423,83.256721,1672.890909,-1243.658269,172.185021
418,-780.819638,724.644687,663.369167,-1037.881306,346.979020,252.030989,1750.918842,-418.401160,-519.857268,-923.442968

In [6]:
model = LinearRegression()
model.fit(XTrain, yTrain)

LinearRegression()

In [7]:
yTestPred = model.predict(XTest)
print("RMSE: %.2e" %(np.sqrt(metrics.mean_squared_error(yTest, yTestPred))))

RMSE: 3.84e-13

In [8]:
dfPred = pd.read_csv('datasets/test.csv', delimiter=',')
XPred = dfPred.iloc[:,1:]
idCol = dfPred.iloc[:,0].to_numpy()
yPred = model.predict(XPred)

In [9]:
dfToSubmit = pd.DataFrame(data={"Id": idCol, "y":yPred})

In [10]:
dfToSubmit

         Id           y
0     10000  -66.002423
1     10001  451.406504
2     10002 -461.676417
3     10003   40.501209
4     10004 -126.744722
...     ...         ...
1995  11995  464.715255
1996  11996  496.485334
1997  11997  -35.135409
1998  11998 -131.679185
1999  11999  417.269155

[2000 rows x 2 columns]

In [11]:
dfToSubmit.to_csv("toSubmit.csv", index=False)